body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
  /************************items part**************************/
  h1 {
    font-size: 5.624rem;
    margin: 50px auto 0 auto;
    width: 50%;
    margin: 0 auto;
    font-family: "Sacramento", cursive;
    color: #66bfbf;
  }
  .pp {
    color: #66bfbf;
    font-weight: normal;
  }
  .intro {
    width: 30%;
    margin: auto;
  }
  h2 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: #66bfbf;
    padding-bottom: 10px;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999e;
  }
  .profile-01 {
    border-radius: 100%;
  }
  a {
    color: #11999e;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover {
    color: #eaf6f6;
  }
  .nature-01 {
    height: 200px;
    width: 25%;
    float: left;
    padding-right: 30px;
  }
  .moon-01 {
    height: 150px;
    width: 25%;
    float: right;
    padding: 30px;
    bottom: 20px;
  }
  .skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
  }
  hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  p {
    line-height: 2;
  }
  .contact-me {
    margin-bottom: 100px;
  }
  .contact-name {
    width: 40%;
    margin: 50px auto;
  }
  /********************container part***************************/
.top-container {
    background-color: #c3edea;
    position: relative;
    padding: 100px;
  }
  .middle-container {
    padding-top: 100px;
  }
  .bottom-container {
    background-color: #66bfbf;
    height: 100px;
    font-family: "Montserrat", sans-serif;
    padding: 50px 0 20px;
  }
  .span {
    text-decoration: underline;
  }
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }
  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  